header#header.hide
  nav.clear
    h1 
      a(href='#intro') YOON
    ul
      li
        a(href='#portfolio').portfolio
          span PORTFOLIO
      li
        a(href='#about').about
          span ABOUT
