doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title='webgl 테스트'
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:wght@400;500&display=swap')
    link(rel='stylesheet', href='/css/main.css')

  body
    include header.pug

    block content

    block scripts