@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Noto+Sans+KR:wght@300;400;500&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, button, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }

html { -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; }

html { height: 100%; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { table-layout: fixed; border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; color: inherit; }

a:hover { text-decoration: none; }

legend, caption, hr { display: none; }

th { font-weight: inherit; }

em { font-style: normal; }

input { vertical-align: middle; border-radius: 0; }

p, h3, h2, h1 { letter-spacing: normal; }

input, textarea, button, select { border-radius: 0; }

button { display: inline-block; background: transparent; border: 0; outline: 0; font-size: 0; cursor: pointer; }

section { width: 100%; }

body { min-width: 320px; height: 100%; font-weight: 300; word-break: keep-all; word-wrap: break-word; overflow-wrap: break-word; }

video { width: 100%; object-fit: cover; }

img { max-width: 100%; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

body { line-height: 1.8; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.clear { *zoom: 1; }

.clear:after { content: ''; display: block; clear: both; }

html { font-family: 'Noto Sans KR', 'Roboto', sans-serif; font-size: 10px; font-weight: 300; word-break: keep-all; color: #fff; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }

.en1 { font-family: 'Roboto', 'Noto Sans KR', sans-serif; }

.en2 { font-family: 'Montserrat', 'Noto Sans KR', sans-serif; }

.en3 { font-family: 'Fjalla One', sans-serif; letter-spacing: 0.05em; }

.bold { font-weight: 500; }

body { overflow: hidden; background: #000; }

#bg { position: fixed; z-index: -1; top: 0; left: 0; opacity: 0.2; }

.section { position: relative; max-width: 1200px; margin: 0 auto; padding: 0 9.8vw; }

#header { position: fixed; z-index: 9; top: 0; left: 0; width: 100%; font-family: 'Fjalla One', sans-serif; font-size: 3em; letter-spacing: 0.15em; }

#header nav { padding: 30px 9.8vw; }

#header nav h1 { float: left; }

#header nav ul { float: right; max-width: 1200px; margin: 0 auto; }

#header nav ul li { display: inline-block; margin-right: 4vw; font-size: 2rem; text-align: center; }

#header nav ul li:nth-last-child(1) { margin-right: 0; }

#header nav ul li a { display: block; padding: 10px 0; transition: all 0.3s; }

#header nav ul li a:hover { color: rgba(255, 255, 255, 0.6); text-shadow: #fff 0.1rem 0 0.5rem; }

#header nav ul li a span { position: relative; }

#header nav ul li a span:after { content: ''; position: absolute; left: 0; bottom: -5px; width: 0; height: 1px; background: #fff; transition: width .3s; }

.clear { *zoom: 1; }

.clear:after { content: ''; display: block; clear: both; }

.btn { position: relative; }

.btn:after { content: ''; position: absolute; left: 0; bottom: -5px; width: 0; height: 1px; background: #fff; transition: width .3s; }

.btn:hover:after { width: 100%; }

.btn.outlink { padding-right: 23px; }

.btn.outlink:before { position: absolute; top: 50%; transform: translateY(-50%); content: ''; right: 0; width: 13px; height: 13px; margin-top: 2px; background-image: url(../../img/common/ico_outlink.svg); background-repeat: no-repeat; background-position: center; background-size: contain; }

#sphere { position: absolute; z-index: 3; top: 0; left: 0; }

#about { position: absolute; z-index: 9; top: 0; left: 0; width: 100vw; height: 100vh; max-width: none; box-sizing: border-box; background: rgba(0, 0, 0, 0.9); opacity: 0; transition: opacity .6s; pointer-events: none; }

#about.on { opacity: 1; pointer-events: all; }

#about .btn_close { display: block; position: absolute; top: 50px; right: 9.8vw; width: 50px; height: 50px; }

#about .btn_close:before { content: ''; position: absolute; width: 50px; height: 50px; border: 2px solid #fff; border-radius: 100%; box-sizing: border-box; -webkit-transform: scale(0.75); transform: scale(0.75); -webkit-transition: border 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1); transition: border 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1); transition: border 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1); transition: border 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1); }

#about .btn_close span:before { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); content: ''; width: 1px; height: 16px; background: #fff; transform: translate(-50%, -50%) rotate(45deg); }

#about .btn_close span:after { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); content: ''; width: 1px; height: 16px; background: #fff; transform: translate(-50%, -50%) rotate(-45deg); }

#about .btn_close:hover:before { transform: scale(1); }

#about .popup { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); width: 100%; max-width: 1000px; padding: 0 9.8vw; }

#about .contents { display: flex; justify-content: space-between; }

#about .contents .contents_inner { max-width: 400px; }

#about .contents .title { margin-bottom: 30px; font-family: 'Fjalla One', sans-serif; font-size: 4em; letter-spacing: 0.05em; }

#about .contents .sub_title { margin: 20px 0 4px; font-size: 3em; letter-spacing: 0.05em; }

#about .contents .text { font-size: 1.5em; }

#about .contents p.text { margin-bottom: 20px; }

#about .contents p.text strong { margin-right: 10px; font-weight: 500; }

#about .contents h4.sub_title { margin-bottom: 6px; font-size: 2em; font-weight: 500; }

#about .contents .info { margin-top: 30px; }

#about .contents .plus { font-size: 0.85em; }

#portfolio .contents { display: flex; justify-content: space-around; text-align: center; }

#portfolio .contents .sub_title { margin-bottom: 10px; font-size: 2em; font-weight: 500; }

#portfolio .contents .text { font-size: 1.6em; }

/*# sourceMappingURL=../../trues/main.css.map */