
@mixin posCenterXY {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@mixin posCenterX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin posCenterY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin transitionDelay($total) {
  @for $i from 2 through $total {
    &:nth-child(#{$i}) {
			transition-delay: #{$i*0.5}s;
    }
  }
}

@mixin underline {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .3s;
}

@mixin underline_on {
  width: 100%;
}
